:root {
  --bgMain: hsl(0, 0%, 25%);
  --bgForm: hsl(0, 0%, 47%);
  --bgLgnd: hsl(0, 0%, 0%);
  --bgInputReadOnly: hsl(0, 0%, 55%);
  --txtClrLght: hsl(0, 0%, 73%);
  --txtClrLght-accent: hsl(0, 0%, 100%);
  --txtClrDark: hsl(0, 0%, 31%);
  --txtClrDark-accent: hsl(0, 0%, 0%);
  --brdrFldst: hsl(0, 0%, 0%);

  --gapBlockDiv: clamp(0.7rem, 3vw, 1.4rem);


}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bgMain);
  color: var(--txtClrLght);
}


@media (width < 560px) { /*Versión Mobile Portrait*/
  h1 {
    font-size: 2rem;
    text-align: center;
    inline-size: 340px;
    margin-inline: auto;
    margin-block-start: 0.5rem;
    color: rgb(177, 177, 177);
    text-shadow: 1px 1px 3px hsl(0, 0%, 0%);
  }
  .pMobile{
    inline-size: fit-conten;
    margin-inline: auto;
    text-align: center;
    margin-block: 0.5rem;
    font-size: 0.7rem;
  }
  .mainContent{
    inline-size: 90vw;
    margin-block-start: 1rem;
    margin-inline: auto;
  }
  form#formulario {
    max-inline-size: 350px;
    margin-inline: auto;
    padding: 1em;
    border-radius: 0.5em;
    background-color: var(--bgForm);
  }
  fieldset {
    padding: 0.5em;
    margin-block-end: 1em;
    border: 1px solid var(--bgMain);
    border-radius: 0.2em;
  }
  fieldset legend {
    margin-inline-start: 1em;
    padding: 0.1rem 0.2rem;
    text-shadow: 1px 1px 2px var(--brdrFldst);
    background-color: var(--bgLgnd);
    border-radius: 4px;
    color: var(--txtClrLght);
    font-size: 0.7rem;
  }
  fieldset div {
    display: flex;
    flex-direction: row;
    margin-block: var(--gapBlockDiv);
    background-color: var(--bgMain);
    box-shadow: 1px 1px 3px var(--brdrFldst);
    padding-inline-start: 0.5em;
    border-radius: 0.2em;
  }
  fieldset label{
    font-size: 1rem;
    inline-size: 70%;
    padding-block: 0.5rem 0;
  }
  fieldset input {
    font-size: 1.2rem;
    font-weight: 800;
    padding-block-start: 0.2rem;
    text-align: center;
    inline-size: 30%;
    border: var(--input-border);
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  .fieldSeleccionFechas input{
    font-size: 0.8rem;
    font-weight: 400;
  }
  input[id^="plusQbrMnd"], .fieldTotales input, .fieldDevengos input, .fieldDeducciones input, .fieldBasesTotales input, .liquidoPercibir input {
    background-color: var(--bgInputReadOnly);
  }
  .liquidoPercibir input{
    color: rgb(81, 255, 0);
    text-shadow: 1px 1px 3px black;
  }
  
  /* Estilos para inputs en foco */
  fieldset input:focus {
    background-color: hsl(120, 22%, 69%);
    outline: none;
  }
  /* Clase para inputs llenos */
  fieldset input.filled {
    background-color: hsl(120, 8%, 44%);
  }
  fieldset input[type="number"]::-webkit-inner-spin-button{
    appearance: none;
  }
  /* Botones */
  .actions{
    display: flex;
    margin-inline: auto;
    margin-block: 1rem;
    justify-content: space-around;
  }
  button {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: var(--txtClrLght-accent);
    cursor: pointer;
    transition: background-color 0.3s ease;
    filter: drop-shadow(1px 1px 2px black);
  }
  .calcNomin{
    background-color: hsl(210, 100%, 30%);
  }
  #btnReset{
    background-color: rgb(150, 23, 23);
  }
  .calcNomin:hover{
    background-color: hsl(210, 100%, 41%);
  }
  #btnReset:hover{
    background-color: rgb(199, 18, 18);
  }
  .desk{
    display: none;
  }
  .mob{
    display: block;
  }
  .lands{
    display: none;
  }
}

@media (width >= 560px) and (width < 860px) { /*version Mobile landscape*/
  header .desk, header .mob{
    display: none;
  }
  h1 {
    font-size: 2rem;
    text-align: center;
    inline-size: fit-content;
    margin-inline: auto;
    margin-block-start: 0.5rem;
    color: rgb(177, 177, 177);
    text-shadow: 1px 1px 3px hsl(0, 0%, 0%);
  }
  .pLands{
    inline-size: fit-conten;
    margin-inline: auto;
    text-align: center;
    margin-block: 0.5rem;
    font-size: 0.7rem;
  }
  .mainContent{
    inline-size: 95vw;
    margin-inline: auto;
  }
  #formulario{
    margin-inline: auto;
    max-inline-size: 700px;
    padding: 0.5rem;
  }
  #formulario fieldset{
    border-radius: 0.3rem;
  }
  #formulario legend{
    text-align: center;
    background-color: black;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
  }
  #formulario input{
    block-size: 1.6rem;
    border-radius: 0.3rem;
  }
  #formulario label{
    text-align: center;
  }
  #formulario input[id^="plusQbrMnd"]{
    background-color: var(--bgInputReadOnly);
  }
  .fieldSeleccionFechas {
    display: flex;
    margin-block-end: 1rem;
    text-align: center;
  }
  .fieldSeleccionFechas div{
    margin-block-end: 0.5rem;
  }
  #diffFechas{
    background-color: var(--bgInputReadOnly);
    inline-size: 70%;
  }
  .fieldsSemanas .mob{
    display: block;
  }
  .fieldsSemanas .desk{
    display: none;
  }
  .fieldsSemanas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 0.5rem;
    margin-block-end: 1rem;
  }
  .fieldSemana, .fieldSeleccionFechas, .fieldTotales{
    padding: 0.5rem;
  }
  .fieldSemana input{
    text-align: center;
  }
  .fieldSemana div, .fieldTotales div{
    margin-block-end: 0.5rem;
  }
  .fieldSemana input, .fieldTotales input{
    inline-size: 100%;
  }
  .fieldTotales input{
    background-color: var(--bgInputReadOnly);
    text-align: center;
  }
  .fieldAjustesNomina{
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-evenly;
    margin-block-end: 1rem;
  }
  .fieldAjustesNomina div{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .fieldAjustesNomina input{
    text-align: center;
    padding-block: 0.2rem;
    font-size: 1.2rem;
    font-weight: 800;
  }
  .fieldAjustesNomina label{
    color: darkorange;
  }
  .actions{
    display: flex;
    justify-content: space-around;
    padding: 1rem 0.5rem;
    margin-block-end: 1rem;
    text-align: center;
  }
  .actions button{
    outline: none;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    text-shadow: 1px 1px 3px black;
    filter: drop-shadow(1px 1px 3px black);
  }
  .actions .calcNomin{
    background-color: green;
    color: greenyellow;
  }
  .actions #btnReset{
    background-color: darkred;
    color: hsl(0, 100%, 77%);
  }
  .actions .calcNomin:hover{
    background-color: greenyellow;
    color: green;
  }
  .actions #btnReset:hover{
    background-color: hsl(0, 100%, 77%);
    color: darkred;
  }
  .actions .calcNomin:active{
    background-color: black;
    color: greenyellow;
  }
  .actions #btnReset:active{
    background-color: black;
    color: hsl(0, 100%, 77%);
  }
  .fieldsResumenes .mob{
    display: none;
  }
  .fieldsResumenes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    margin-block-end: 1rem;
  }
  .fieldsResumenes fieldset{
    padding: 0.5rem;
    text-align: center;
  }
  .fieldsResumenes div{
    margin-block-end: 0.5rem;
  }
  .fieldsResumenes input{
    inline-size: 98%;
    background-color: var(--bgInputReadOnly);
    text-align: center;
  }
  .liquidoPercibir{
    padding: 0.5rem;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-block-end: 2rem;
    gap: 2rem
  }
  .liquidoPercibir div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.5rem;
    margin-block-end: 1rem;
  }
  .liquidoPercibir input{
    inline-size: 98%;
    text-align: center;
    padding-block: 0.5rem;
    font-size: 1.5rem;
    font-weight: 800;
    background-color: black;
    color: greenyellow;

  }
}
@media (width >= 860px) { /*version Desktop*/
  header .lands, header .mob{
    display: none;
  }
  header .desk{
    display: block;
  }
  h1 {
    font-size: 2rem;
    text-align: center;
    inline-size: fit-content;
    margin-inline: auto;
    margin-block-start: 0.5rem;
    color: rgb(177, 177, 177);
    text-shadow: 1px 1px 3px hsl(0, 0%, 0%);
  }
  .pDesktop{
    inline-size: fit-conten;
    margin-inline: auto;
    text-align: center;
    margin-block: 0.5rem;
    font-size: 0.7rem;
  }
  .mainContent{
    inline-size: 95vw;
    margin-inline: auto;
  }
  #formulario{
    max-inline-size: 1024px;
    margin-inline: auto;
    text-align: center;
  }
  #formulario legend{
    background-color: black;
    border-radius: 0.3rem;
    padding: 0.2rem;
    color: gray;
    font-size: 1rem;
  }
  #formulario fieldset{
    border-radius: 0.3rem;
    border: 1px solid gray;
  }
  .fieldSeleccionFechas {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    padding: 1rem;
    margin-block-start: 1.3rem;
  }
  .fieldSeleccionFechas div{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    text-align: center;
    align-items: center;
  }
  .fieldSeleccionFechas input{
    padding-block: 0.2rem 0.1rem;
    padding-inline: 0.3rem;
  }
  #diffFechas{
    inline-size: 50%;
    text-align: center;
    background-color: var(--bgInputReadOnly);
  }
  .fieldsSemanas .mob{
    display: none;
  }
  .fieldsSemanas .desk{
    display: block;
  }
  .fieldsSemanas{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    margin-block: 1.5rem;
    justify-items: center;
    justify-content: space-around;
  }
  .fieldsSemanas fieldset{
    inline-size: 100%;
  }
  .fieldsSemanas legend{
    text-align: center;
  }
  .fieldsSemanas div{
    font-size: 1.3rem;
    margin-block: 1rem;
    padding: 0.3rem;
  }
  .fieldsSemanas label{
    text-align: center;
  }
  .fieldsSemanas input{
    inline-size: 70%;
    padding-block: 0.2rem 0.1rem;
    text-align: center;
  }
  #formulario input[id^="plusQbrMnd"]{
    background-color: var(--bgInputReadOnly);
  }
  .fieldTotales input{
    background-color: var(--bgInputReadOnly);
  }
  .fieldAjustesNomina{
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-evenly;
    margin-block-end: 1rem;
  }
  .fieldAjustesNomina div{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    align-items: center;
  }
  .fieldAjustesNomina input{
    background-color: hsl(0, 0%, 82%);
    border: 2px solid orange;
    text-align: center;
    padding-block: 0.2rem 0.1rem;
    font-size: 1.8rem;
    font-weight: 800;
    inline-size: 50%;

  }
  .fieldAjustesNomina label{
    color: darkorange;
    margin-block-end: 0.5rem;
  }
  .actions{
    display: flex;
    justify-content: space-around;
    padding: 1rem 0.5rem;
    margin-block-end: 1rem;
    text-align: center;
  }
  .actions button{
    inline-size: 20rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.8rem;
    padding: 0.5rem;
    text-shadow: 1px 1px 3px black;
    filter: drop-shadow(1px 1px 3px black);
  }
  .actions .calcNomin{
    background-color: green;
    color: greenyellow;
  }
  .actions #btnReset{
    inline-size: 20rem;
    background-color: darkred;
    color: hsl(0, 100%, 77%);
  }
  .actions .calcNomin:hover{
    background-color: greenyellow;
    color: green;
  }
  .actions #btnReset:hover{
    background-color: hsl(0, 100%, 77%);
    color: darkred;
  }
  .actions .calcNomin:active{
    background-color: black;
    color: greenyellow;
  }
  .actions #btnReset:active{
    background-color: black;
    color: hsl(0, 100%, 77%);
  }
  .fieldsResumenes .mob{
    display: none;
  }
  .fieldsResumenes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-block-end: 1rem;
    font-size: 1.3rem;
  }
  .fieldsResumenes fieldset{
    padding: 0.5rem;
    text-align: center;
  }
  .fieldsResumenes div{
    margin-block: 1.3rem;
  }
  .fieldsResumenes input{
    inline-size: 70%;
    background-color: var(--bgInputReadOnly);
    text-align: center;
    font-size: 1.5rem;
    padding-block: 0.5rem;
  }
  .liquidoPercibir{
    padding-block: 1rem 0.5rem;
    margin-block-end: 3rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    text-align: center;
  }
  .liquidoPercibir div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-block-end: 1rem;
  }
  .liquidoPercibir input{
    inline-size: 70%;
    text-align: center;
    padding-block: 0.5rem;
    font-size: 1.5rem;
    font-weight: 800;
    background-color: black;
    color: greenyellow;
  }
  
}